/* CSS Variables */
:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  line-height: 1.6;
  background-color: #252529;
}

body {
  font-family: "Quicksand", sans-serif;
}

.logo {
  position: fixed;
  float: left;
  margin: 12px 32px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #ccc;
}

/* Navigation */
nav {
  position: fixed;
  width: 100%;
  background: #333;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

nav ul li a:hover {
  color: orange;
  transition: 0.8s;
}

.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

/* Section */
.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
}

section#entertainment {
  background: url(../img/section-bg.jpg) no-repeat bottom/cover;
  padding: 10rem 0;
}

.gift-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  text-align: left;
}

/* Showcase */
#showcase {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(../img/showcase.jpg) no-repeat center/cover;
  position: relative;
  overflow-y: hidden;
}

#showcase .container {
  margin-top: 25vh;
}

#showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase h2 {
  font-size: 2rem;
}

/* Footer */
.footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}

.footer-cols ul {
  list-style: none;
}

.footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

.footer-bottom {
  background: #333;
  padding: 1rem;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

/* Buttons */
.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

/* Text Colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .hide-on-small {
    display: none;
  }

  #showcase {
    height: 50vh;
  }

  #showcase .container {
    margin-top: 15vh;
  }

  #showcase h1 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 1rem;
  }

  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  nav ul li {
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .showing {
    max-height: 20em;
  }

  .menu-icon {
    display: block;
  }

  .gift-cards {
    grid-template-columns: 1fr;
  }

  .footer-cols {
    display: none;
  }
}
