.interna-portfolio {
  background: url("../img/bg-portfolio.jpg") no-repeat center;
  background-size: cover;
}

.quote-portfolio {
  max-width: 460px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

.quote-portfolio p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 1.125rem;
  line-height: 25px;
  margin-bottom: 20px;
}

.quote-portfolio cite {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  float: right;
}
