.interna-sobre {
  background: url("../img/bg-sobre.jpg") no-repeat center;
  background-size: cover;
}

.missao_sobre {
  padding-top: 40px;
}

.missao_sobre p {
  font-size: 1.125rem;
  line-height: 25px;
  margin-bottom: 1rem;
  padding-right: 60px;
}

.missao_sobre ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.125rem;
  line-height: 30px;
}

.foto-equipe {
  padding-top: 20px;
}
